<nav class="navbar">

  <!-- IZQUIERDA: Logo -->
  <div class="navbar-left">

    @if (showMenu) {
    <button class="menu-mobile-btn" (click)="onToggleMenu.emit()">
      <app-icon name="menu" [size]="24"></app-icon>
    </button>
    }

    <div class="logo-contenedor" [routerLink]="getLogoRoute()">
      <div class="logo-icono">
        <img width="30" src="icons/tuunka_logo.svg" alt="Tuunka Logo">
      </div>
      <span class="logo-texto">Tuunka</span>
    </div>

    @if (title) {
    <div class="v-divider"></div>
    <span class="navbar-title">{{ title }}</span>
    }

  </div>

  <!-- CENTRO: Slot dinámico -->
  <div class="navbar-center">
    <ng-content select="[navbar-center]"></ng-content>
  </div>

  <!-- DERECHA: Contenido dinámico -->
  <div class="navbar-right">
    <ng-content select="[navbar-right]"></ng-content>
  </div>

</nav>