<nav class="navbar">

  <!-- IZQUIERDA: Logo -->
  <div class="navbar-left">

    <div class="logo-contenedor">
      <div class="logo-icono">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none">
          <path d="M12 3L1 9L12 15L21 10.09V17H23V9L12 3ZM5 13.18V17.18L12 21L19 17.18V13.18L12 17L5 13.18Z"
                fill="#135BEC"/>
        </svg>
      </div>

      <span class="logo-texto">Tuunka</span>
    </div>

  </div>

  <!-- CENTRO: Título -->
  <div class="navbar-center">
    <span class="navbar-title">{{ title }}</span>
  </div>

  <!-- DERECHA: Contenido dinámico -->
  <div class="navbar-right">
    <ng-content select="[navbar-right]"></ng-content>
  </div>

</nav>
