<div class="skeleton-card">
    <div class="skeleton-header">
        <div class="skeleton-avatar shimmer"></div>
        <div class="skeleton-info">
            <div class="skeleton-line shimmer" style="width: 40%;"></div>
            <div class="skeleton-line shimmer" style="width: 25%;"></div>
        </div>
    </div>
    <div class="skeleton-line title shimmer"></div>
    <div class="skeleton-line content shimmer"></div>
    <div class="skeleton-line content shimmer" style="width: 80%;"></div>
</div>